body.fondo {
  background: linear-gradient(135deg, #fce4ec, #f8bbd0);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
  text-align: center;
  width: 300px;
}

.formulario h2 {
  color: #c2185b;
  margin-bottom: 20px;
}

.formulario input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f8bbd0;
  border-radius: 10px;
}

.formulario button {
  background-color: #ec407a;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.formulario a {
  color: #c2185b;
  text-decoration: none;
  font-weight: bold;
}
.frase-romantica {
  font-style: italic;
  color: #ad1457;
  margin: 30px auto;
  padding: 20px;
  max-width: 600px;
  font-size: 20px;
  background-color: #fff0f5;
  border-left: 5px solid #ec407a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.2);
  animation: aparecer 1.5s ease-in-out;
}

